body{
    background: grey;
    margin:0;
    height: 3000px;
   }
  
#line{
    background: black;
    height: 80px;
    width: 100%;
    position: sticky;
    top:10px;
    margin-top: 50px;
}

.box{
    width: 70vw;
    height: 80px;
    background: blue;
    margin: auto;

    
}

.menuBox{
    margin:15px -2px 0 -2px;
   border:0;
    background: green;
    width: 25%;
    height: 50px;
   text-align: center;
   
    display: inline-block;
}



.menuBox p {
    
    left: 0;
    
    width: 100%;
    text-align: center;
    font-size: 17px;
}

@media (max-width:450px) {
  .menuBox {
    min-width: 200px /*The width is 100%, when the viewport is 800px or smaller*/
  }
}